<script
  type="application/json"
  data-section-type="static-password"
  data-section-id="{{ section.id }}"
></script>

<h1 class="password-title">{{ 'password.general.opening_soon' | t }}</h1>

{% if shop.password_message != blank %}
  <p class="password-message">{{ shop.password_message }}</p>
{% endif %}

{% if section.settings.newsletter_text != blank %}
  {{ section.settings.newsletter_text }}
{% endif %}

{% include 'newsletter' %}

<div class="module-container password-form-wrapper hidden" data-password-form>
  <div class="module-inner">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="inline-field-wrapper {% if form.errors %}has-errors{% endif %}">
        <input
          class="input-field inline-field-input input-password"
          type="password"
          name="password"
          placeholder="{{ 'password.general.enter_password' | t }}"
          autofocus>
        <input
          class="inline-field-submit button"
          name="submit"
          type="submit"
          value="{{ 'password.general.submit' | t }}">
      </div>
    {% endform %}
  </div>
</div>

{%- capture password_trigger -%}
  <a href="#" data-password-trigger>
    {{ 'password.general.enter_password' | t }}
  </a>
{%- endcapture %}

<p class="password-page-action visible" data-newsletter-toggle>
  {{ 'password.general.password_caption_html' | t: trigger: password_trigger }}
</p>

<p class="password-page-action hidden" data-password-toggle>
  <a href="#" data-password-trigger>{{ 'password.general.cancel' | t }}</a>
</p>

{% schema %}
{
  "name": "Password pages",
  "class": "section-password",
  "settings": [
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Newsletter text"
    }
  ]
}

{% endschema %}